* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     }
body{
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;

}
:root {
    --background-color: red; 
    --color: white;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}
nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}
h1 {
    margin: 1rem;
    color: black;
}
main img {
    width: 150px;
    height: auto;
    border: 2px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
    margin: 1rem;
    padding: 0;
    font: 1em sans-serif;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 2rem solid rgb(0, 0, 0/0.2);
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--color);
    text-align: center;
    position: relative;
}
aside img {
    margin: 1rem;
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 33px;
    left: 75px;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: var(--background-color);
    color: #000;
    
}

.indent {
    padding-left: 2rem;
}